[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
community = "*"
python-louvain = "*"

[dev-packages]

[requires]
python_version = "3.11"
